a {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  margin-left: 280px;
}

#moreD, #moreE, #moreG, #moreF {
  display: none;
}

#trans1, #trans2, #trans3, #trans4 {
  opacity: 0.5;
}

button {
  padding: 5px 10px;
  border: 1px solid;
  font-family: Helvetica;
  font-weight: bold;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  height: 70%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h1 {
  margin-top: 0;
  color: #333;
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}





